#senior-manager {
  display: flex;
}

#manager {
  padding: 30px;
  text-align: center;
  width: 50%;
}

#senior {
  height: auto;
  width: 100%;
}

#about-senior {
  padding: 30px;
  text-align: justify;
  width: 50%;
  color: white;
}

#junior-asistant {
  display: flex;
}

#asistant {
  padding: 30px;
  text-align: center;
  width: 50%;
}

#junior {
  height: auto;
  width: 100%;
}

#about-junior {
  padding: 30px;
  text-align: justify;
  width: 50%;
  color: white;
}

#all-command {
  display: flex;
}

#command {
  padding: 30px;
  text-align: center;
  width: 50%;
}

#people {
  height: auto;
  width: 100%;
}

#about-command {
  padding: 30px;
  text-align: justify;
  width: 50%;
  color: white;
}

@media screen and (max-width: 546px) {
  #senior-manager {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #junior-asistant {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #all-command {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
