#admin-info-output {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.main-user-card {
  background-color: hsl(0, 3%, 27%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 5vh;
  cursor: pointer;
  position: relative;
}

.main-user-card-name,
.main-user-card-surname {
  min-width: 25%;
  width: auto;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.type-of-order {
  width: 10%;
  text-align: center;
}
.more-details-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
  background-color: hsl(123, 40%, 30%); /* Green */
  border: none;
  color: white;
  text-decoration: none;
}

.additional-info {
  position: absolute;
  width: 100%;
  background: hsl(0, 3%, 23%);
}
.main__table-btns {
  width: 100%;
  padding: 42px;
  text-align: center;
}

.inProgress-btn {
  width: 100px;
  height: 20px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.inProgress-btn:hover {
  background-color: yellow;
}

.done-btn {
  width: 100px;
  height: 20px;
  border: none;
  border-radius: 10px;
}

.done-btn:hover {
  background-color: greenyellow;
}
