#orders-table {
  width: 90%;
  margin: 0 auto;
  color: white;
}

.main-table {
  width: 100%;
  color: white;
}

.main__table-image {
  height: auto;
  width: 100%;
}

.main__table-images {
  width: 100px;
  padding: 10px;
}

.main__table-names {
  width: 100px;
  padding: 10px;
  text-align: center;
}

.main__table-surnames {
  width: 100px;
  padding: 10px;
  text-align: center;
}

.main__table-emails {
  width: 100px;
  padding: 10px;
  text-align: center;
}

.main__table-numbers {
  width: 100px;
  padding: 10px;
  text-align: center;
}

.main__table-details {
  width: 200px;
  padding: 10px;
  text-align: center;
}

.main__table-shapes {
  width: 100px;
  padding: 10px;
  text-align: center;
}

.main__table-lengths {
  width: 100px;
  padding: 10px;
  text-align: center;
}

.main__table-widths {
  width: 100px;
  padding: 10px;
  text-align: center;
}

.main__table-diameters {
  width: 100px;
  padding: 10px;
  text-align: center;
}

.main__table-heights {
  width: 100px;
  padding: 10px;
  text-align: center;
}

.main__table-colors {
  width: 100px;
  padding: 10px;
  text-align: center;
}

.main__table-materials {
  width: 100px;
  padding: 10px;
  text-align: center;
}

.main__table-btns {
  width: 100px;
  padding: 10px;
  text-align: center;
}

.underway-btn {
  width: 100px;
  height: 20px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.underway-btn:hover {
  background-color: yellow;
}

.accomplished-btn {
  width: 100px;
  height: 20px;
  border: none;
  border-radius: 10px;
}

.accomplished-btn:hover {
  background-color: greenyellow;
}
