#contact-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.fa-mobile {
  color: white;

  margin-bottom: 21px;
}

.fa-mobile:hover {
  color: orangered;
}

.fa-warehouse {
  color: white;

  margin-bottom: 30px;
}

.fa-warehouse:hover {
  color: orangered;
}

.fa-envelope-open-text {
  color: white;

  margin-bottom: 30px;
}

.fa-envelope-open-text:hover {
  color: orangered;
}

.names {
  margin: 20px;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.first-contact {
  margin: 30px;
}

.second-contact {
  margin-bottom: 20px;
}

.operations {
  margin: 10px;
  color: white;
}

.operations-time {
  color: white;
  margin-top: 10px;
}

.phone-number {
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

.find-us-text {
  color: white;
  margin: 10px;
}

.find-store {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
}

.find-store:hover {
  background-color: orangered;
}

.contacting-hours {
  color: white;
  margin: 10px;
}

.contacting-email {
  color: white;
  margin: 10px;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textw {
  color: white;
  margin-bottom: 30px;
}

#find-us-map {
  margin-bottom: 30px;
}

.mobile-box {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.mobile-box i {
  font-size: 100px;
}

.warehouse-box {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.warehouse-box i {
  font-size: 100px;
}

.envelope-box {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.envelope-box i {
  font-size: 100px;
}

#write-btn {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

#write-btn:hover {
  background-color: orangered;
}

#write-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spacetables-email {
  height: 40px;
  width: 90%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

.question-textarea {
  height: 200px;
  width: 90%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  padding-top: 10px;
}

.name-input {
  height: 40px;
  width: 90%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

.number-input {
  height: 40px;
  width: 90%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

.your-email-input {
  height: 40px;
  width: 90%;
  margin-bottom: 40px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

.send-btn {
  height: 30px;
  width: 300px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 40px;
}

.send-btn:hover {
  background-color: orangered;
}

.icons-section {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#find-output {
  margin: 0 auto;
  width: 90%;
}

.find-store-output-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 10px;
  background-color: rgb(46, 46, 46);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
}

.find-store-output-div a {
  color: white;
  text-decoration: none;
}

.find-store-output-div a:hover {
  color: orangered;
}

@media screen and (max-width: 546px) {
  #contact-icons {
    flex-direction: column;
  }

  .find-store-output-div {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 546px) {
  .find-store-output-div {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .find-store-output-div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .spacetables-email {
    width: 500px;
  }

  .question-textarea {
    width: 500px;
  }

  .name-input {
    width: 500px;
  }

  .number-input {
    width: 500px;
  }

  .your-email-input {
    width: 500px;
  }
}
