footer {
  color: white;
  position: absolute;
  bottom: 0;
  margin-top: 20px;
  padding: 10px;
  background-color: hsl(0, 0%, 14%);
  width: 100%;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.social-links,
.help-links,
.legal-links {
  width: 100%;
}

#icons,
.help,
.legal {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.legal {
  flex-wrap: wrap;
  gap: 10px;
}
#date {
  text-align: center;
}

#icons i {
  font-size: 20px;
}

.fa-facebook {
  color: white;
}

.fa-facebook:hover {
  color: orangered;
}

.fa-twitter {
  color: white;
}

.fa-twitter:hover {
  color: orangered;
}

.fa-linkedin-in {
  color: white;
}

.fa-linkedin-in:hover {
  color: orangered;
}

.fa-instagram {
  color: white;
}

.fa-instagram:hover {
  color: orangered;
}

.help {
  display: flex;
  flex-direction: column;
}

#faq {
  color: white;
  text-decoration: none;
}

#faq:hover {
  color: orangered;
}

.legal-item {
  color: white;
  text-decoration: none;
}

.legal-item:hover {
  color: orangered;
}

@media screen and (min-width: 768px) {
  .footer-flex {
    flex-direction: initial;
    height: 16vh;
  }
  .social-links,
  .help-links,
  .legal-links {
    height: 100%;
  }
  .footer-flex p {
    text-align: center;
  }
  .legal {
    flex-wrap: initial;
    flex-direction: column;
  }
}
