footer {
  color: white;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.social-links,
.help-links,
.legal-links {
  width: 100%;
}

#icons {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

#icons i {
  font-size: 20px;
}

.fa-facebook {
  color: white;
}

.fa-facebook:hover {
  color: orangered;
}

.fa-twitter {
  color: white;
}

.fa-twitter:hover {
  color: orangered;
}

.fa-linkedin-in {
  color: white;
}

.fa-linkedin-in:hover {
  color: orangered;
}

.fa-instagram {
  color: white;
}

.fa-instagram:hover {
  color: orangered;
}

.help {
  display: flex;
  flex-direction: column;
}

#faq {
  margin-top: 20px;
  color: white;
  text-decoration: none;
}

#faq:hover {
  color: orangered;
}

.legal {
  display: flex;
  flex-direction: column;
}

#security {
  margin-top: 20px;
  color: white;
  text-decoration: none;
}

#security:hover {
  color: orangered;
}

#privacy {
  margin-top: 5px;
  color: white;
  text-decoration: none;
}

#privacy:hover {
  color: orangered;
}

#terms {
  margin-top: 5px;
  color: white;
  text-decoration: none;
}

#terms:hover {
  color: orangered;
}

@media screen and (min-width: 768px) {
  footer {
    flex-direction: column;
  }
}
