body {
  background-color: rgb(29, 28, 28);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
  min-height: 100vh;
}
main {
  margin-bottom: 20px;
}

h2 {
  color: white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

input {
  padding: 0 10px;
}

#mainVideo {
  opacity: 0.2;
  background-color: black;
}

.making-desk-video {
  /* margin: 30px; */
}

#index-email,
#index-password,
#index-register {
  height: 30px;
  width: calc(300px + 10vw);
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

#index-register {
  cursor: pointer;
}

#index-register:hover {
  background-color: orangered;
}

.main-page-form {
  /* margin: 0 auto; */
  /* width: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#mainVideo {
  top: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

.none-header {
  display: none;
}
.none {
  display: none;
}
.visibility {
  visibility: hidden;
}

/* !3D model  */
.homepage-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}
/* @media screen and (max-width: 546px) {
  #main-page {
    flex-direction: column;
  }

  #videos {
    top: 30px;
  }
} */

@media screen and (min-width: 768px) {
  .none-header {
    display: block;
  }
  .homepage-flex {
    flex-direction: initial;
  }
  model-viewer {
    width: calc(300px + 10vw);
    height: 50vh;
  }
  form {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
  }
}
