body {
  background-color: rgb(29, 28, 28);
}

h2 {
  color: white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

input {
  padding: 0 10px;
}

#main-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainVideo {
  opacity: 0.2;
  background-color: black;
}

.making-desk-video {
  margin: 30px;
}

#index-email {
  height: 30px;
  width: 300px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

#index-password {
  height: 30px;
  width: 300px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
}

#index-register {
  height: 30px;
  width: 300px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

#index-register:hover {
  background-color: orangered;
}

.main-page-form {
  margin: 30px;
  margin-top: 400px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#videos {
  width: 100%;
  position: absolute;
  top: 100px;
}

#main-page-footer {
  margin-top: 450px;
}

@media screen and (max-width: 546px) {
  #main-page {
    flex-direction: column;
  }

  #videos {
    top: 60px;
  }
}

.none-header {
  display: none;
}
.none {
  display: none;
}
@media screen and (min-width: 768px) {
  .none-header {
    display: block;
  }
}
